@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1250px; */
    margin: 80px 0 0 135px;
    padding-left: 10px;
    padding-right: 10px;
}

.container h2 {
    font-size: 22px;
    position: relative;
    margin: 20px 0 50px 0;
}

ul {
    list-style: none;
}